---
---

p {
  text-align: justify;
}

.name-linkedin {
  display: inline-flex;
  align-items: center;
}

.linkedin-logo {
  height: 1.58752em;
  width: 1.7em;
}

.masthead {
  .masthead-heading {
    font-size: 2em;
    color: white;
    margin: 2em 0 2em;
  }

  .masthead-avatar {
    width: 25rem;
  }
}

.chose {
  font-size: 1.3em;
}

.navbar-toggler .icon-bar {
  background-color: #ffffff;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.btn-success {
    color: #ffffff;
    background-color: #18bc9c;
    border-color: #18bc9c
  }
}

.btn-lg,.btn-group-lg>.btn {
  padding: 18px 27px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 6px
}
.portfolio {
  .portfolio-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 255px;
    width: 353px;

    p {
      font-size: 2.5em;
      text-align: center;
    }
  }
}

@media (min-width: 992px) {
  .page-section {
    .testimonies-container {
      .carousel-inner {
        .carousel-item {
          padding: 2em 10em 2em 10em;
        }
      }
    }
  }
}

.testimonies-container {
  margin-top: 3em;

  .carousel-item {
    background-color: lightgray;
    padding: 2em;
    min-height: 600px;

    .testimony-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 1.3em;
        font-style: italic;
      }
    }
  }
}

.bg-light-grey {
  background-color: lightgray;
  font-weight: normal;
}

