<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}" />
  {% if site.meta_author %}
  <meta name="author" content="{{ site.meta_author }}">{% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.xml">

  <meta property="og:locale" content="en_GB" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
  <meta property="og:site_name" content="Sen Tutor" />

  <meta property="og:image" content="https://www.sen-tutor.co.uk/img/profile.png" />
  <meta property="og:image:width" content="401" />
  <meta property="og:image:height" content="520" />
  <meta property="og:image:type" content="image/png" />

  <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link rel="stylesheet" href="{{ " style.css" }}">
  <link rel="stylesheet" href="css/main.css">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "@id": "{{ site.url }}{{ page.url }}",
      "url": "{{ site.url }}{{ page.url }}",
      "name": {{ site.title | jsonify }},
    "headline": {{ page.title | jsonify }},
    "keywords": {{ page.tags | join: ',' | jsonify }},
    "description": {{ site.description | strip_newlines | strip | jsonify }},
    "articleBody": {{ page.content | strip_html | jsonify }},
    "datePublished": {{ page.date | jsonify }},
    "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
    "inLanguage": "en-GB",
    "potentialAction": [
        {
        "@type": "ReadAction",
        "target": [
            "{{ page.url | replace:'index.html','' | prepend: site.url }}"
        ]
        }
    ]
    "author": {
      "@type": "Person",
      "name": {{ site.author_name | jsonify }},
      "givenName": {{ site.author_first_name | jsonify }},
      "familyName": {{ site.author_last_name | jsonify }},
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ site.title | jsonify }},
      "url": "{{ site.url }}",
      "logo": {
      "@type": "ImageObject",
      "width": 32,
      "height": 32,
      "url": "{{ site.url }}/icon/favicon.ico"
    }
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}{{ page.url }}"
    },
    "image": {
    "@type": "ImageObject",
    "width": {{ page.img_width | default: site.img_width }},
    "height": {{ page.img_height | default: site.img_height }},
    "url": "{{ site.url }}{{ page.img_url | default: site.img_url }}"
    }
    }
  </script>
  <!-- Google verification -->
  {% if site.google_verify %}
  <meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}

  <!-- Bing Verification -->
  {% if site.bing_verify %}
  <meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

  <!-- Custom Fonts -->
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
