<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">Choose me if…</span>
          <div class="row">
            <div class="col-lg-4 chose">
              <p>- Your child has dyslexia, dyspraxia, dyscalculia, ADHD</p>
            </div>
            <div class="col-lg-4 chose">
              <p>- Your child is autistic</p>
            </div>
            <div class="col-lg-4 chose">
              <p>- Your child has processing difficulties and working memory issues</p>
            </div>
            <div class="col-lg-4 chose">
              <p>- Your child need to focus, find reassurance and motivation to learn</p>
            </div>
            <div class="col-lg-4 chose">
              <p>- Your child needs support in English or Maths</p>
            </div>
            <div class="col-lg-4 chose">
              <p>- Your child need support with organisation and study skills</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
