<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
      <div class="col-lg-12">
        <div class="bg-white"><img class="img-responsive" src="img/profile.png" alt="profile-pic" /></div>
        <div class="intro-text">
          <h1 class="masthead-heading text-uppercase">Choose me if…</h1>
          <div class="row">
            <div class="col-lg-4 chose">
              <p>- Your child has dyslexia, dyspraxia, dyscalculia, ADHD</p>
            </div>
            <div class="col-lg-4 chose">
              <p>- Your child is autistic</p>
            </div>
            <div class="col-lg-4 chose">
              <p>- Your child has processing difficulties and working memory issues</p>
            </div>
            <div class="col-lg-4 chose">
              <p>- Your child need to focus, find reassurance and motivation to learn</p>
            </div>
            <div class="col-lg-4 chose">
              <p>- Your child needs support in English or Maths</p>
            </div>
            <div class="col-lg-4 chose">
              <p>- Your child need support with organisation and study skills</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</header>